/* Gilroy Medium */
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('Gilroy-Medium.ttf');
	src: local('Gilroy Medium'), local('Gilroy-Medium'),
		url('Gilroy-Medium.ttf') format('truetype');
	font-weight: normal;
}
/* Gilroy Bold */
@font-face {
	font-family: 'Gilroy-Bold';
	src: url('Gilroy-Bold.ttf');
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
		url('Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
}
